@media only screen and (min-width:0px) and (max-width: 480px){
.menu-icon{
  display: inline-block;
}
nav{
  width: 100%;
}
nav .nav-links {
  display: none;
}
.mobile-sideber{ 
  position: fixed;
  width: 82%;
  height: 100vh;
  border-right: 1px solid var(--orange-color);
  bottom: 0;
  top: 0;
  background: #fff;
  left: -82%;
  transition: left 0.5s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.mobile-sideber li{
  list-style: none;
}
.mobile-sideber .mobile-sidebar-logo{
  font-family:var(--title-font) ;
  font-size: 35px;
  color:var(--orange-color);
  cursor: pointer;
}
.mobile-sideber .mobile-sidebar-links li{
  margin: 10px 0;
}
.mobile-sideber .mobile-sidebar-links li a{
  color: var(--orange-color);
  text-decoration: none;
  font-weight: 700;
  display: inline;
  cursor: pointer;
}
.active{
 background: var(--orange-color);
 text-align: center;
 padding: 10px 10px ;
 border-radius: 5px ;
}
.social-media-link{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.social-media-link button{
  margin: 0 10px;
}
.content{
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  padding: 0 8px;
}
.content .left-col .special-btn{
  font-size: 16px;
}
.content .right-col{
  display: none;
}
.content .left-col h1{
  font-size: 28px;
}
.content .mobile-con-img{
  display: inline-block;
  width: 100%;
  height: auto;
  cursor: alias;
}
.content .mobile-con-img img{
  width: 100%;
  height: 320px;
  pointer-events: none;
}
/* ===== TOGGLE CSS Styles ===== */
.openSidebar{
  left: 0;
}

}

