@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
 
:root{
  --orange-color:#FF4500;
  --mid-black-color:#000000;
  
  
  --title-font:'Fascinate', cursive;
}
.icon{
  border: none;
  outline: none;
  background: none;
}
.cus-point{
  cursor: pointer;
}
.container{
  width: 100%;
  height: auto;
}
nav{
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  position: fixed;
  top: 0;
  transition: background 0.4s ease;
}
nav .logo{
 font-family: var(--title-font);
 font-size: 35px;
 color:var(--orange-color)
}
nav .nav-links{
  display: inline-block;
  z-index: 1000;
}
nav .nav-links .side-logo{
  display: none;
}
 .active::before{
  width: 100%;
  height: 2px;
  background:var(--orange-color);
  position: absolute;
  content: "";
  left: 0;
  bottom: -4px;
  border-radius: 25px 25px 0 0;
}
.active:hover a{
  color: var(--orange-color);
}
nav .nav-links li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  font-weight: 700;
  position: relative;
  padding: 0 8px;
}
nav .nav-links li a{
  text-decoration: none;
  color: var(--orange-color);
  transition:400ms ease;
  cursor: pointer;
}
nav .nav-links li a:hover {
  color: var(--mid-black-color);
}
.menu-icon{
  display: none;
}
.mobile-sideber{
  display: none;
}
.content{
  width: 100%;
  min-height: 60vh;
  /* background: red; */
  display:grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 0 50px;
  margin-top: 70px;
}
.content .right-col{
  order: 2;
}
.content .left-col .special-btn{
  padding: 12px 15px;
  border-radius: 25px;
  background: var(--orange-color);
  outline: none;
  border:none;
  color: #fff;
  margin: 1rem 0;
  font-size: 18px;
}
.content .left-col h1{
  margin-bottom: 1rem;
  font-weight: 800;
}
.content .right-col img{
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.mobile-con-img{
  display: none;
}
footer{
  width: 100%;
  min-height: auto;
  background: #CFCFCF;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
footer ::selection{
  color: #40FF00;
  background: #39415B;
}
footer .footer-logo{
  font-family: var(--title-font);
  font-size: 30px;
  color: var(--orange-color);
}
footer .footer-links{
  display: flex;
  flex-wrap: wrap;
}
footer .footer-links .col{
  margin: 0 10px;
}
footer .footer-links p{
  font-weight: 500;
  margin: 10px 0;
  font-size: 20px;
  color: var(--orange-color);
}
footer .footer-links li{
  list-style: none;
  font-weight: 400;
  margin: 8px 0;
}
footer .footer-links li a{
  /* color: var(--orange-color); */
  color: #4B4E58;
  text-decoration: none;
  cursor: pointer;
}
footer .footer-links li a:hover{
  color: #061BFF;
  
}








/* ===== Navbar Animation Style ===== */
.animNav{
  /* background:#3C3E55; */
  background: #26293A;
}
.animNav .nav-links li a{
  color: #fff;
}
.animNav .logo{
  color: #fff;
}
.animNav .bi{
  fill: #fff;
}
